<%- include("partials/header") %>
<h1>Compost</h1>
<form class="" action="/compose" method="post">
    <input type="text" name="postTitle" value="">
    <button class="btn" type="submit" name="button">Publish</button>
</form>
<%- include("partials/footer") %>
